<h1>{{title}}</h1>

<div class="color">
  <h2>I will change colors.</h2>
</div>

<script>
  var socket = io(window.location.origin);
  socket.on('change color', function (data) {
    $("body").trigger('colorChange', ['.color', data.color])
    console.log(data);
  });
  socket.on('change color back', function(data) {
    $("body").trigger('colorChange', [data.selector, data.color])
    console.log(data);
  });
  $("body").on("colorChange", function(event, param1, param2) {
    $(param1).css('background-color', param2);
    console.log(param1,param2)
  });
</script>
