<h1>{{title}}</h1>

<div class="color">
  <h2>I will change colors.</h2>
</div>

<script>
  var socket = io('http://localhost');
  socket.on('change color', function (data) {
    $('.color').css('color', data.color);
    console.log(data);
  });
  socket.on('change color back', function(data) {
    $('.color').css('color', data.color);
    console.log(data);
  });
</script>
