<h1>{{title}}</h1>

<div class="color">
  <h2>I will change colors.</h2>
</div>

<h2>Explination</h2>
<p>Whenever someone visits the /trigger/:event url that triggeres the specific event.
Also when someone visits the /reset/:event url it resets that event to normal</p>

<script>
  var socket = io(window.location.origin);
  socket.on('change color', function (data) {
    $("body").trigger('colorChange', [data.selector, data.color])
    console.log(data);
  });
  socket.on('change color back', function(data) {
    $("body").trigger('colorChange', [data.selector, data.color])
    console.log(data);
  });
  $("body").on("colorChange", function(event, param1, param2) {
    $(param1).css('background-color', param2);
    console.log(param1,param2)
  });
</script>
