<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.smtcs.rocks/jq/2.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
